<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    <form name="f1" action="/text_gest" method="post">
        <input type="text" name="text"></input>
        <input type="submit">submit</input>
    </form>
    <br><br>
    <img src="{{ url_for('text_gest') }}" width="100%">
</body>
</html>